/*
    Setting & Variables
*/
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Amatic+SC&family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* Colors */
/* Fonts */
/* Screen Sizes */
@-webkit-keyframes image-slidein {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: calc(50% - 115px);
  }
}
@keyframes image-slidein {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: calc(50% - 115px);
  }
}

@-webkit-keyframes countdown-slidein {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 10px;
  }
}

@keyframes countdown-slidein {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 10px;
  }
}

@-webkit-keyframes button-slideup {
  0% {
    bottom: -100px;
  }
  25% {
    bottom: -100px;
  }
  75% {
    bottom: 20%;
  }
}

@keyframes button-slideup {
  0% {
    bottom: -100px;
  }
  25% {
    bottom: -100px;
  }
  75% {
    bottom: 20%;
  }
}

/*
    Individual Components
*/
.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 99;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hover-shadow:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-direction: row;
  -moz-flex-direction: row;
  -webkit-box-pack: normal;
          justify-content: normal;
  -webkit-justify-content: normal;
  -moz-justify-content: normal;
  -ms-flex-pack: normal;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  width: 100%;
  max-width: 720px;
}

.count {
  margin: 5px;
  padding: 10px;
  width: calc(100% - 15px);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 4em;
  color: #ffffff;
  text-align: center;
}

.count .label {
  font-size: 1rem;
}

#days {
  background-color: #590606;
}

#hours {
  background-color: #153230;
}

#minutes {
  background-color: #C98448;
}

#seconds {
  background-color: #C5776B;
}

.comments {
  padding: 40px;
}

.comments .form__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  -webkit-box-pack: normal;
          justify-content: normal;
  -webkit-justify-content: normal;
  -moz-justify-content: normal;
  -ms-flex-pack: normal;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.comments .form__comment .form__comment--text {
  width: 100%;
  height: 2em;
}

.comments .form__comment .form__comment--button {
  margin: 10px 0 10px auto;
  padding: 10px 30px;
}

.comments .comments__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
          flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  -moz-flex-direction: column-reverse;
  -webkit-box-pack: normal;
          justify-content: normal;
  -webkit-justify-content: normal;
  -moz-justify-content: normal;
  -ms-flex-pack: normal;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.comments .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  -webkit-box-pack: normal;
          justify-content: normal;
  -webkit-justify-content: normal;
  -moz-justify-content: normal;
  -ms-flex-pack: normal;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 10px 0;
  border-bottom: solid 1px #B3BFBE;
}

.comments .comment p {
  margin: 0;
}

.comments .comment .comment__header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-direction: row;
  -moz-flex-direction: row;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-flex-pack: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.comments .comment .comment__header .comment__author {
  font-weight: bold;
}

.flash__messages {
  margin: auto;
}

.flash__messages .flash {
  position: relative;
  max-width: 480px;
  margin: auto;
  color: #ffffff;
}

.flash__messages .flash.error {
  background-color: #590606;
}

.flash__messages .flash.warning {
  background-color: #C98448;
}

.flash__messages .flash.info {
  background-color: #B3BFBE;
}

.flash__messages .flash.success {
  background-color: #153230;
}

.flash__messages .flash p {
  margin: 0;
  padding: 10px;
  text-align: center;
}

.flash__messages .flash .flash__remove {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border: none;
  background: transparent;
  color: #ffffff;
}

/*
    Main Styles
*/
html {
  height: 100%;
}

body {
  font-family: "Amiri", serif;
  margin: 0;
  height: 100%;
}

body a {
  color: #153230;
  text-decoration: none;
}

body a:hover {
  text-decoration: underline;
}

body.not-index {
  background-color: #F7ECE5;
}

body.not-index h2,
body.not-index h3,
body.not-index h4 {
  font-family: "Amiri", serif;
  color: #590606;
}

body.not-index .page-title {
  font-size: 7rem;
  text-align: center;
  font-family: "Amatic SC", cursive;
  color: #153230;
  text-transform: uppercase;
  background-image: linear-gradient(109.6deg, #dbc9c3 11.3%, #c5776b 100.2%);
  margin: 0;
}

.header {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-direction: row;
  -moz-flex-direction: row;
  -webkit-box-pack: normal;
          justify-content: normal;
  -webkit-justify-content: normal;
  -moz-justify-content: normal;
  -ms-flex-pack: normal;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  max-width: 1280px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.header .logo {
  font-family: "Anton", arial, sans-serif;
  font-size: 1.2em;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #C5776B;
  -webkit-text-fill-color: transparent;
  padding: 6px;
  margin: 36px;
  outline-offset: 6px;
  display: block;
  max-width: 130px;
  text-align: center;
}

.header .logo:hover {
  text-decoration: none;
}

.header .header__menu {
  position: absolute;
  width: 100%;
  max-width: 640px;
  margin: auto 0 0 auto;
  top: 140px;
  background-color: #F7ECE5;
  z-index: 99;
  right: 0;
  display: none;
}

.header .header__menu.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  -webkit-box-pack: normal;
          justify-content: normal;
  -webkit-justify-content: normal;
  -moz-justify-content: normal;
  -ms-flex-pack: normal;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media only screen and (min-width: 760px) {
  .header .header__menu {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -ms-flex-direction: row;
    -moz-flex-direction: row;
    -webkit-box-pack: normal;
            justify-content: normal;
    -webkit-justify-content: normal;
    -moz-justify-content: normal;
    -ms-flex-pack: normal;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    top: 0;
  }
}

.header .nav__button {
  position: absolute;
  right: 10px;
  top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 3em;
  color: #C5776B;
}

@media only screen and (min-width: 760px) {
  .header .nav__button {
    display: none;
  }
}

.header .nav__button:hover {
  text-decoration: none;
}

.header .user {
  left: 10px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 1.2em;
}

@media only screen and (min-width: 760px) {
  .header .user {
    position: absolute;
    left: auto;
    right: 10px;
  }
}

.header .user:hover .user__options {
  display: block;
}

.header .user__options {
  display: block;
}

@media only screen and (min-width: 760px) {
  .header .user__options {
    right: 0;
    width: 200px;
    position: absolute;
    background-color: #ffffff;
    -webkit-box-shadow: 0 1px 15px #B3BFBE;
            box-shadow: 0 1px 15px #B3BFBE;
    display: none;
  }
}

.header .user__options .user__options__list {
  list-style: none;
  margin: 0;
  padding: 5px;
}

.header .user__options .user__options__list li {
  border-bottom: solid 1px #B3BFBE;
  padding: 5px 20px;
}

.header .user__options .user__options__list li:hover {
  background-color: #590606;
}

.header .user__options .user__options__list li:hover a {
  color: #ffffff;
}

.header .user__options .user__options__list li a:hover {
  text-decoration: none;
}

.content {
  max-width: 1024px;
  width: calc(100% - 2em);
  margin: 0 auto;
  padding: 1em;
  -webkit-box-shadow: 0 1px 15px #B3BFBE;
          box-shadow: 0 1px 15px #B3BFBE;
  background-color: #ffffff;
}

@media only screen and (min-width: 760px) {
  .content {
    padding: 3em;
    width: calc(100% - 6em);
  }
}

.content .title {
  text-align: center;
  font-size: 5em;
  margin: 0.4em;
}

.nav {
  margin-right: 10px;
}

@media only screen and (min-width: 760px) {
  .nav {
    margin-top: auto;
    width: 100%;
    max-width: 640px;
  }
}

.nav .nav__items {
  list-style: none;
  font-size: 1.2em;
  padding: 5px;
}

.nav .nav__items .nav__item {
  padding: 5px 20px;
  border-bottom: solid 1px #B3BFBE;
}

.nav .nav__items .nav__item:hover {
  background-color: #590606;
}

.nav .nav__items .nav__item:hover a {
  color: #ffffff;
}

@media only screen and (min-width: 1024px) {
  .nav .nav__items .nav__item:hover {
    background-color: transparent;
  }
  .nav .nav__items .nav__item:hover a {
    color: inherit;
  }
}

.nav .nav__items .nav__item a {
  width: 100%;
}

@media only screen and (min-width: 760px) {
  .nav .nav__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -ms-flex-direction: row;
    -moz-flex-direction: row;
    -webkit-box-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-justify-content: space-evenly;
    -moz-justify-content: space-evenly;
    -ms-flex-pack: space-evenly;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .nav .nav__items .nav__item {
    border: none;
  }
}

/*
    Homepage
*/
.index {
  height: 100%;
}

.index .homepage__splash {
  max-width: 100%;
  max-height: 480px;
  margin: 20px auto;
  -webkit-animation-name: image-slidein;
          animation-name: image-slidein;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-transition: all 2s;
  transition: all 2s;
}

@media only screen and (min-width: 760px) {
  .index .homepage__splash {
    margin: auto;
  }
}

.index .homepage__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  -webkit-box-pack: normal;
          justify-content: normal;
  -webkit-justify-content: normal;
  -moz-justify-content: normal;
  -ms-flex-pack: normal;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 760px) {
  .index .homepage__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -ms-flex-direction: row;
    -moz-flex-direction: row;
    -webkit-box-pack: normal;
            justify-content: normal;
    -webkit-justify-content: normal;
    -moz-justify-content: normal;
    -ms-flex-pack: normal;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.index .homepage__content .container {
  width: 100%;
}

@media only screen and (min-width: 760px) {
  .index .homepage__content .container {
    width: 50%;
  }
}

.index .homepage__content .left__container {
  background-color: #DBC9C3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-direction: row;
  -moz-flex-direction: row;
  -webkit-box-pack: normal;
          justify-content: normal;
  -webkit-justify-content: normal;
  -moz-justify-content: normal;
  -ms-flex-pack: normal;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.index .homepage__content .right__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-direction: row;
  -moz-flex-direction: row;
  -webkit-box-pack: normal;
          justify-content: normal;
  -webkit-justify-content: normal;
  -moz-justify-content: normal;
  -ms-flex-pack: normal;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: #ffffff;
}

.index .homepage__content #countdown {
  -webkit-animation-name: countdown-slidein;
          animation-name: countdown-slidein;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.index .homepage__content .button {
  margin: 25px auto 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: absolute;
  bottom: 10px;
  right: calc(50% - 90px);
  width: 165px;
  text-align: center;
  -webkit-animation-name: button-slideup;
          animation-name: button-slideup;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

@media only screen and (min-width: 760px) {
  .index .homepage__content .button {
    bottom: 20%;
  }
}

.index .homepage__content .button:hover {
  color: #590606;
  background-color: #ffffff;
  text-decoration: none;
}

/*
    Blogs
*/
.blog-title {
  color: #590606;
  font-size: 3em;
  padding: 10px 0 0;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}

@media only screen and (min-width: 760px) {
  .blog-title {
    text-align: left;
  }
}

.blogs {
  max-width: 1024px;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  -webkit-box-pack: normal;
          justify-content: normal;
  -webkit-justify-content: normal;
  -moz-justify-content: normal;
  -ms-flex-pack: normal;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.blogs .blog-headline {
  text-transform: lowercase;
  font-style: italic;
}

.blogs .blog-thumbnail {
  margin: auto;
  max-width: 600px;
  width: 100%;
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blogs .blog-preview {
  text-align: justify;
}

.blogs .read-more-link {
  text-transform: uppercase;
  border: 2px solid #B6704f;
  color: #B6704f;
  padding: 5px;
  margin: auto 0 auto auto;
  background-size: 200% 100%;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, transparent), color-stop(50%, #B6704f));
  background-image: linear-gradient(to right, transparent 50%, #B6704f 50%);
  -webkit-transition: background-position .5s;
  transition: background-position .5s;
}

.blogs .read-more-link:hover {
  text-decoration: none;
  background-position: 100% 0%;
  color: #F7ECE5;
}

.blogs .thumbnail-image-container {
  width: 100%;
  height: 450px;
  overflow: hidden;
  position: relative;
}

.blogs .thumbnail-image-container .blog-date {
  position: relative;
  color: #F7ECE5;
  font-size: 12rem;
  text-align: center;
  margin: auto;
  width: 100%;
  font-family: "Amiri", serif;
  font-weight: 700;
  z-index: 11;
}

@media only screen and (min-width: 1024px) {
  .blogs .thumbnail-image-container .blog-date {
    font-size: 16rem;
  }
}

.blogs .thumbnail-image-container .thumbnail-image {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  /* fallback color */
  background-position: center;
  background-size: cover;
}

.blogs .thumbnail-image-container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(21, 50, 48, 0.3);
  z-index: 10;
}

.blogs .blog-link {
  text-decoration: none;
}

.blogs .blog-link:hover, .blogs .blog-link:focus {
  text-decoration: none;
}

.blogs .blog-link:hover .thumbnail-image-container:before, .blogs .blog-link:focus .thumbnail-image-container:before {
  background-color: rgba(21, 50, 48, 0.6);
  -webkit-transition: 3s;
  transition: 3s;
}

.blogs .blog-link:hover .thumbnail-image, .blogs .blog-link:focus .thumbnail-image {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 3s;
  transition: all 3s;
}

.blog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 800px;
  margin: auto;
}

.blog-container .blog-image {
  margin: auto;
}

.blog-container .date {
  font-size: 2rem;
  font-family: "Amiri", serif;
  line-height: 1;
}

/*
    Galleries
*/
.galleries {
  max-width: 1024px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.galleries .gallery-thumbnail {
  width: 100%;
  padding: 10px;
}

@media only screen and (min-width: 760px) {
  .galleries .gallery-thumbnail {
    max-width: calc(50% - 20px);
  }
}

@media only screen and (min-width: 1024px) {
  .galleries .gallery-thumbnail {
    max-width: calc(100% / 3 - 20px);
  }
}

.galleries .gallery-name {
  font-family: "Amiri", serif;
  font-size: 1.4em;
  color: #590606;
  text-transform: uppercase;
}

/* 
Thumbnails
*/
.thumb {
  height: 75px;
  border: 1px solid #000;
  margin: 10px 5px 0 0;
}

.thumbnail {
  width: 100%;
}

.thumbnail img {
  max-width: 100%;
}

/*
Footer
*/
.footer {
  padding: 20px;
}

/*
 Admin Tools
 */
.content .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  border: none;
}

.content .form input {
  margin: 10px 0;
  height: 2em;
  font-size: 1em;
}

.content .form input[type="textbox"],
.content .form input[type="password"] {
  background-color: #F7ECE5;
}

.content .form .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.content .form .tags .tag input {
  margin: 10px;
}

.content .form .tags .tag label {
  padding: 5px;
}

.button {
  background-color: #590606;
  max-width: 250px;
  padding: 10px;
  color: #F7ECE5;
  -webkit-box-shadow: 1px 1px 10px #153230;
          box-shadow: 1px 1px 10px #153230;
  border: none;
}
