extends email-layout

block content
  h2 Password Reset Link For OneMoreLamore
  p Hello, #{user.firstName}! Please follow the link below to reset your password.

  +button(resetURL, 'Reset Password →')
  p If you can't click the above button please visit #{resetURL}
