extends layout

include mixins/_accountForm

block layout-content
    form.form.login-form(action="/account" method="post")
        +accountForm

        input#submit_button(class="button" type="submit" value='Submit')