extends layout

include mixins/_blogThumbnail

block layout-content
    .blogs
        each blog in blogs
            +blogThumbnail(blog)
        if user
            if user.isAdmin
                a(href='/updates/create') New Post

