extends layout

include mixins/_forgotForm

block layout-content
    form.form.login-form(action="/pwreset" method="post")
        +forgotForm

        input#submit_button(class="button" type="submit" value='Send Reset Link')