extends layout

include mixins/_photoThumbnail

block layout-content
    h2=gallery.name
    h3=gallery.description
    div.thumbnail-container
        each photo in gallery.photos
            +photoThumbnail(gallery.slug, photo)