extends layout

include mixins/_galleryThumbnail

block layout-content
    h2= title
    .galleries
        each gallery in galleries
            +galleryThumbnail(gallery)
        a(href='/gallery/create') New Gallery
