extends layout

include mixins/_galleryThumbnail

block layout-content
    .galleries
        each gallery in galleries
            +galleryThumbnail(gallery)
        if user
            if user.isAdmin
                a(href='/gallery/create') New Gallery
