doctype html
html
  head
    meta(charset="utf-8")
    //- link(rel="shortcut icon", href="/favicon.ico")
    
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    meta(author="jlamoreaux")
    title= `${title} | ${h.siteName}`

    link(rel="stylesheet" href="/style/main.css")

    body.index
        .homepage__content
            .left__container.container
                img.homepage__splash(src="/images/homepage.png", alt="Colored pencil drawing of Jordan and a pregant Penny")
            .right__container.container
                if user
                    a.button(href="/home") Enter
                else
                    a.button(href="/login") Please Login to Continue
                #countdown
            

        footer
            block footer-content
            block footer-scripts
                script(src="/js/countdown.js")