extends layout

block layout-content
  .homepage__content
    //- h1.Banner #{h.siteName}
    h2 You found us!

    section.welcome
      p This is our family website. It's a work in progress but will hopefully be a good place for you to catch up on how Eisley is doing.

      if !user.isActive
        p The activation request for your has been sent. You won't be able to access anything yet.
        | Once your account is active you will receive an email letting you know and you will be able to access the rest of the site.

    section.countdown__container
      h3 
        span(style="text-decoration: line-through") Days until due date:
        br
        span When will she be here?
      #countdown
        #days(class="count") 06
        #hours(class="count") ??
        #minutes(class="count") 2020


block footer-scripts
  //- script(src="/js/countdown.js")