extends layout

block header

block layout-content
  div.homepage__content
    //- h1.Banner #{h.siteName}
    div.Message
      div.Title
        h3 You found us!
    img.homepage__splash(src="/images/homepage.png", alt="Colored pencil drawing of Jordan and a pregant Penny")
    //- div.button 
    a.button(href="/login") Please Login to Continue