extends layout

block layout-content
  div.View
    //- h1.Banner #{h.siteName}
    div.Message
      div.Title
        h3 Our Family
      span.Details More details
    div.NavButtons
      a(href="/login")
          div.NavButton Login!