extends layout

//- block header

block layout-content
  div.login
    //- h1.Banner Login

    form.form.login-form(action="/login" method="post")
        label.login-label(for='email') Email / Username
        input#username(type='textbox' name='email')
        label.login-label(for="password") Password
        input#password(type="password" name='password')
        input#submit_button(type="submit" value='Login' class="button")
    span#register No account yet? 
        a(href="/register") Click here to register