extends layout

block layout-content
  div.View
    h1.Banner Login

    form.login-form(action="/authenticate" method="post")
        label.login-label(for='username') Email / Username
            input#username(type='textbox' name='username')
        label.login-label(for="password") Password
            input#password(type="password" name='password')
        input#submit_button(type="submit" value='Login')
    span#register No account yet? 
        a(href="/register") Click here to register