extends layout

block layout-content
  div.View
    h1.Banner Sign Up

    form.login-form(action="/auth/registration" method="post")
        label.login-label(for='firstname') First Name
            input#first_name(type='textbox' name='firstname')
        label.login-label(for='lastname') Last Name
            input#last_name(type='textbox' name='lastname')
        label.login-label(for='email') Email Address
            input#email(type='textbox' name='email')
        label.login-label(for='username') Username
            input#username(type='textbox' name='username')
        label.login-label(for="password") Password
            input#password(type="password" oninput='validPW()' name='password')
            span#pw_alert
        label.login-label(for="pwconfirm") Confirm Password
            input#pwconfirm(type="password" oninput='pwIsSame()' name='pwconfirm')
            span#conf_alert
        input#submit_button(type="submit" value='Submit')

    script(src='/js/register.js')