html { height: 100%; }
body {
    font-family: $secondary-font;
    margin: 0;
    height: 100%;
    // @include flex(column);

    a {
        color: $green;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    h2,
    h3,
    h4 {
        // text-align: left;
        font-family: $secondary-font;
        color: $color-on-primary;
    }

    .page-title {
        font-size: 7rem;
        text-align: center;
        font-family: $primary-font;
        color: $green;
        text-transform: uppercase;
        background-image: linear-gradient( 109.6deg,  rgba($blush,1) 11.3%, rgba($pink,1) 100.2% );
        margin: 0;
    }

    &.home {
        background: url('/images/home_bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: 136px;

        .content__container {
            box-shadow: none;
            color: $off-white;
            .homepage__content {
                text-align: center;
            }
        }
    }

}

.header {
    width: 100%;
    background-color: $off-white;

    a {
        color: $pink;
    }

    .header__container {
        width: 100%;
        max-width: 1280px;
        @include flex;
        position: relative;
        margin: 0 auto;
        text-align: right;
    }


    .logo {
        font-family: $logo-font;
        font-size: 2em;
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: $pink;
        -webkit-text-fill-color: transparent;
        // border: solid 2px $pink;
        padding: 6px;
        margin: 36px auto;
        outline-offset: 6px;
        // outline: solid 7px $pink;

        display: block;
        max-width: 170px;
        text-align: center;

        @include respond-to($vp-mid) {
            margin: 16px;
            margin-left: 200px;
            // position: relative;
        }

        &:hover {
            text-decoration: none;
        }
    }

    .header__links {
        // display: flex;
        // justify-content: space-around;
        @include flex($justify-content: space-around, $direction: row-reverse);
        width: 100%;
        position: absolute;
        // z-index: 999;

        @include respond-to($vp-mid) {
            position: relative;
        }
    }

    .header__menu {
        @media (max-width: $vp-mid - 1) {
            @include header-dropdown;
        }
        // position: absolute;
        // max-width: 640px;
        // margin: auto 0 0 auto;
        // height: 100%;
        background-color: $off-white;
        z-index: 101;
        // right: 0;

        // Redesign:
        width: 100%;
        

        &.open {
            @include flex(column-reverse);
        }

        display: none;

        @include respond-to($vp-mid){
            height: 100%;
            @include flex(row);
            // position: relative;
            top: 140px;
            z-index: 101;
        }
    }

    .nav__button {
        @include respond-to($vp-mid) {
            display: none;
        }
        position: absolute;
        right: 10px;
        top: 10px;
        display: flex;
        font-size: 3em;
        color: $pink;

        &:hover {
            text-decoration: none;
        }
    }

    .user {

        // left: 10px;
        cursor: pointer;
        // margin-right: 10px;
        font-size: 1.2em;
        margin: auto;
        // position: relative;
        width: 100%;

        .user__greeting {
            padding: 20px;
        }

        @include respond-to($vp-mid){
            width: auto;
            // position: absolute;
            // left: auto;
            // right: 10px;
            // margin: 20px 0;
        }

        // &:hover .user__options {
        //     display: block;
        // }
    }

    .user__options {
        // display: block;
        display: none;
        // @include header-dropdown;
        background: $off-white;
        z-index: 999;
        display: none;
        

        @include respond-to($vp-mid){
            @include header-dropdown;
            width: 50%;
            right: 0;
            top: 100px;
            background: $white;
        }

        &.open {
            display: block;
        }

        @include respond-to($vp-mid) {
            right: 0;
            // width: 200px;
            position: absolute;
            background-color: $white;
            // box-shadow: 0 1px 15px $grey;
            display: none;
            // top: 50px;
        }


        .user__options__list {
            list-style: none;
            margin: 0;
            padding: 5px;
            font-size: 1.2em;

            li {
                border-bottom: solid 1px $grey;
                padding: 5px 20px;

                &:hover {
                    background-color: $burgundy;
                    a { color: $white;}
                }

                a:hover {
                    text-decoration: none;
                }
            }
        }

        &.hidden {
            
        }
    }
}

.content {
    // width: 100%;
    margin: 0 auto;
    // padding: 1em;
    // box-shadow: 0 1px 15px $grey;
    // background-color: $white;
    position: relative;
    min-height: calc(100% - 178px);
    // height: 100%;

    @include respond-to($vp-mid){
        // width: calc(100% - 6em);
        z-index: 100;
        min-height: calc(100% - 138px - 6em);
        height: 100%;
    }

    &.home {

        &:before {
            content: '';
            background-color: rgba($black, 0.5);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .content__container {
        padding: 1em;
        position: relative;
        color: $color-on-primary;
        max-width: $vp-xlarge;
        margin: 0 auto;
        @include respond-to($vp-mid) {
            padding: 3em;
        }
        // box-shadow: 0 1px 15px $grey;
    }

    .title {
        text-align: center;
        font-size: 4em;
        margin: 0.4em;
        overflow-wrap: break-word;
        font-family: $primary-font;
        color: $pink;
    }
}

.nav {
    // @include flex;
    // margin-right: 10px;

    @include respond-to($vp-mid){
        margin: auto;
        // width: 100%;
        // max-width: 640px;
    }

    .nav__items {
        // @include flex(column, $justify-content: space-evenly);
        list-style: none;
        // width: 100%;
        // justify-content: space-evenly;
        font-size: 1.2em;
        padding: 5px;

        .nav__item {
            padding: 5px 20px;
            border-bottom: solid 1px #B3BFBE;
            &:hover {
                background-color: $burgundy;
                cursor: pointer;
                a {
                    color: $white;
                    text-decoration: none;
                }
                @include respond-to($vp-large) {
                    background-color: transparent;
                    a { color: $pink; }
                    text-decoration: underline;
                }
            }
            a {

                width: 100%;
            }
        }

        @include respond-to($vp-mid) {
            @include flex(row, $justify-content: space-evenly);

            .nav__item { border: none; }
        }
    }
}

/*
    Homepage
*/

.index {
    height: 100%;

    .homepage__splash {
        max-width: 100%;
        max-height: 480px;
        margin: 20px auto;

        @include respond-to($vp-mid){
            margin: auto;
        }


        animation-name: image-slidein;
        animation-duration: 2s;
        transition: all 2s
    }

    .homepage__content {
        @include flex(column);
        width: 100%;
        height: 100%;

        @include respond-to($vp-mid) {
            @include flex(row);
        }

        .container {
            width: 100%;

            @include respond-to($vp-mid){
                width: 50%;
            }
        }

        .left__container {
            background-color: $blush;
            @include flex;
        }

        .right__container {
            @include flex;
            background-color: $white;
        }

        #countdown {
            animation-name: countdown-slidein;
            // animation-delay: 1s;
            animation-duration: 2s;
        }

        .button {
            margin: 25px auto 0;
            transition: all .3s;
            position: absolute;
            bottom: 10px;
            right: calc(50% - 90px);
            width: 165px;
            text-align: center;

            animation-name: button-slideup;
            // animation-delay: 1s;
            animation-duration: 4s;

            @include respond-to($vp-mid){
                // margin-left: -100px;
                bottom: 20%;            
            }



            &:hover { 
                color: $burgundy; 
                background-color: $white;
                text-decoration: none;
            }
        }
    }
}



/*
    Blogs
*/

.blog-title {
    color: $burgundy;
    font-size: 3em;
    padding: 10px 0 0;
    margin: 0;
    text-transform: uppercase;
    text-align: center;

    @include respond-to($vp-mid){
        text-align: left;
    }
}

.blogs {
    max-width: 1024px;
    width: 100%;
    margin: auto;
    @include flex($direction: column);

    .blog-title {
        // font-size: 3em;
        // padding: 10px 0 0;
        // margin: 0;
        // text-transform: uppercase;
    }

    .blog-headline {
        text-transform: lowercase;
        font-style: italic;
        // padding: 0 0 20px;
    }

    .blog-thumbnail {
        margin: auto;
        max-width: 600px;
        width: 100%;
        padding-top: 40px;
        display: flex;
        flex-direction: column;
    }

    .blog-preview {
        text-align: justify;
    }

    .read-more-link {
        // background-color: $primary-color;
        text-transform: uppercase;
        border: 2px solid $secondary-color;
        color: $secondary-color;
        padding: 5px;
        margin: auto 0 auto auto;
        background-size: 200% 100%;
        background-image: linear-gradient(to right, transparent 50%, $secondary-color 50%);

        -webkit-transition: background-position .5s;
        -moz-transition: background-position .5s;
        transition: background-position .5s;



        &:hover {
            text-decoration: none;
            background-position: 100% 0%;
            color: $off-white;
        }
    }

    .thumbnail-image-container{

        width: 100%;
        height: 450px;
        overflow: hidden;
        position: relative;

        .blog-date {
            @include respond-to($vp-large){
                font-size: 16rem;
            }

            position: relative;
            color: $off-white;
            font-size: 12rem;
            text-align: center;
            margin: auto;
            width: 100%;
            font-family: $secondary-font;
            font-weight: 700;
            // max-width: 250px;
            z-index: 11;
            // padding: 40px 0;
        }

        .thumbnail-image {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: black; /* fallback color */
            background-position: center;
            background-size: cover;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba($green, 0.3); 
            z-index: 10;
        }
    }



    .blog-link {
        text-decoration: none;
        &:hover,
        &:focus {
            text-decoration: none;
            .thumbnail-image-container:before {
                background-color: rgba($green, 0.6);
                transition: 3s;
            }

            .thumbnail-image{
                transform: scale(1.2);
                transition: all 3s;
            }


        }
    }
}

// Individual Post

.blog-container {
    display: flex;
    flex-direction: column;

    max-width: 800px;
    margin: auto;

    .blog__image__container {
        .blog__image {
            max-width: 100%;
        }
    }

    .date {
        font-size: 2rem;
        font-family: $secondary-font;
        line-height: 1;
    }
}

/*
    Galleries
*/

// Main Galleries Page

.galleries {
    max-width: 1024px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .gallery-thumbnail {
        width: 100%;
        padding: 10px;
        // max-width: calc(50% - 10px);
        @include respond-to($vp-mid){
            max-width: calc(50% - 20px);
        }
        @include respond-to($vp-large){
            max-width: calc(100% / 3 - 20px);
        }
    }

    .gallery-name {
        font-family: $secondary-font;
        // font-weight: 700;
        font-size: 1.4em;
        color: $color-on-primary;
        text-transform: uppercase;
    }
}

// Individual Galleries



/* 
Thumbnails
*/

.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
}

.thumbnail {
    width: 100%;

    img {
        max-width: 100%;

    }
}

/*
Footer
*/

.footer {
    // padding: 20px;

}

/*
 Admin Tools
 */

.content .form {
    // max-width: 320px;
    // width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    border: none;

    label {
        // padding-top: 15px;
    }

    input {
        margin: 10px 0;
        height: 2em;
        font-size: 1em;
    }

    input[type="textbox"],
    input[type="password"]
    {
        background-color: $off-white;
    }

    .tags {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .tag {
            input {
                margin: 10px;
            }
            label {
                padding: 5px;
            }
        }
    }
}

.button {
    background-color: $secondary-color;
    max-width: 250px;
    padding: 10px;
    color: $color-on-secondary;
    box-shadow: 1px 1px 10px $green;
    border: none;

    &:hover {
        background-color: $primary-color;
        color: $color-on-primary;
        cursor: pointer;
    }
}

.bottom__links {
    @include flex($justify-content: space-around);
}