.comments {
    padding: 40px;

    .form__comment {
        @include flex(column);
        .form__comment--text {
            width: 100%;
            height: 2em;
        }
        .form__comment--button {
            margin: 10px 0 10px auto;
            padding: 10px 30px;
        }
    }

    .comments__container {
        @include flex($direction: column-reverse);
    }
    
    .comment {
        @include flex(column);
        padding: 10px 0;
        border-bottom: solid 1px $grey;

        p { margin: 0; }

        .comment__header {
            width: 100%;
            @include flex($justify-content: space-between);
            .comment__author {
                font-weight: bold;
            }
        }
    }
}