#countdown {
    @include flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    max-width: 720px;
}

.count {
    margin: 5px;
    padding: 10px;
    // width: 150px;
    width: calc(100% - 15px);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    font-size: 4em;
    color: $white;
    text-align: center;

    .label {
        font-size: 1rem;
    }
}

#days {
    @include bounce(0);
    background-color: $burgundy;
}

#hours {
    @include bounce(.25s);
    background-color: $green;
}

#minutes {
    @include bounce(.5s);
    background-color: $orange;
}

#seconds {
    @include bounce(.75s);
    background-color: $pink;
}