@mixin respond-to($vp-size){
    @media only screen and (min-width: $vp-size) { @content; }
}

@mixin flex($direction: row, $wrap: nowrap, $justify-content: normal) {
    display: flex;
    display: -moz-flex;
    display: -ms-flex;

    flex-direction: $direction;
    -ms-flex-direction: $direction;
    -webkit-flex-direction: $direction;
    -moz-flex-direction: $direction;

    justify-content: $justify-content;
    -webkit-justify-content: $justify-content;
    -moz-justify-content: $justify-content;
    -ms-flex-pack: $justify-content;

    flex-wrap: $wrap;

}

@mixin mobile-popout {
    position: absolute;
    width: 100%;
    top: 140px;
    box-shadow: 2px 1px 10px $black;
}

@mixin bounce($delay: 0s) {
    animation-name: bounce;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    animation-delay: $delay;
}