@import url('https://fonts.googleapis.com/css2?family=Anton&family=Amatic+SC&family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Colors */

$white:         #ffffff;
$burgundy:      #590606;
$off-white:     #F7ECE5;
$orange:        #C98448;
$green:         #153230;
$blush:         #DBC9C3;
$sunset:        #B6704f;
$pink:          #C5776B;
$grey:          #B3BFBE;
$gray:          $grey;  // Because I can never spell "grey" consistantly.
$black:         #000000;

$primary-color:         $off-white;
$secondary-color:       $burgundy;

$color-on-primary:      $sunset;
$color-on-secondary:    $white;

/* Fonts */
$primary-font:      'Amatic SC', cursive;
$secondary-font:    'Amiri', serif;
$logo-font:         'Anton', arial, sans-serif;


/* Screen Sizes */
$vp-small:      600px;
$vp-mid:        760px;
$vp-large:      1024px;
$vp-xlarge:     1280px;