mixin commentForm(post, type)
    form(action=`/comment/${type}/${post.id}` method='POST')
        textarea(name='text' placeholder='Add a comment...')
        input.button(type='submit' value='Post')