mixin photoThumbnail(slug, photo, i)
    .gallery-thumbnail.thumbnail
        //- a(href="")
        .gallery-thumbnail-inner
            img(src=`/gallery-images/${slug}/${photo}` onclick=`openModal();currentSlide(${i})`)

