include _tags

mixin photoUpload
    form(action=`/gallery/add` method="POST" class="card form" enctype="multipart/form-data")
            label(for="name") Gallery Name
            input(type="text" name="name" value="")
            label(for="description") Description
            textarea(name="description")
            //- Image upload
            label(for="photos")
                input(type="file" name="photos" id="files" accept="image/gif, image/png, image/jpeg" multiple)
                output#list
            +tags
            input(type="submit" value="Save" class="button")